@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Store App</h1>
</div>

<section style="width:50%; margin: auto;margin-top:50px;">
    <a class="btn btn-outline-primary">Show All Products</a>
    <h2>
        Please Select Product Item To Get BARCODE
    </h2>
    <section>
        <label>Product ID</label>
        <input class="form-control" type="number" placeholder="Like...1" />
    </section>
    <section>
        <label>Product Volume</label>
        <input class="form-control" type="number" placeholder="Like...2.55" />
    </section>
    <a class="btn btn-outline-primary">Get Barcode</a>
</section>

<section style="width:50%; margin: auto;margin-top:50px;">
    <h1>Find Product by BARCODE</h1>
    <input class="form-control" type="text" placeholder="Like...1234-AABB-1122......" />
</section>

<section style="width:50%; margin: auto;margin-top:50px;">
    <a class="btn btn-outline-primary">Show All Products</a>
    <a class="btn btn-outline-primary">Add Product</a>
    <a class="btn btn-outline-primary">Update Product</a>
    <section id="products"></section>
</section>