@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Store App</h1>
</div>

<section>
    <a class="btn btn-outline-primary">Show All Products</a>
    <h2>
        Please Select Product Item To Get BARCODE
        <a class="btn btn-outline-primary">Get Barcode</a>
    </h2>
</section>

<section style="margin-top:50px">
    <h1>Find Product by BARCODE</h1>
    <input class="form-control" type="text" placeholder="Like...1234-AABB-1122......"/>
</section>

<section style="margin-top:50px">
    <a class="btn btn-outline-primary">Show All Products</a>
    <a class="btn btn-outline-primary">Add Product</a>
    <a class="btn btn-outline-primary">Update Product</a>
    <section id="products"></section>
</section>